# Tasks 
     1. Calculation of sales revenue(the product of sales quantity and unit_price) 
     2. Caluculation of sales revenue including discounts(as mentioned in the promotion table)
     3. Calculation of sales revenue including discounts and the demand adjustment factor

In [11]:
from matplotlib import pyplot as plt
import pandas as pd

In [14]:
# Read xlsx file
file_name = "SalesData_Input.xlsx"
df = pd.read_excel(file_name, sheet_name=0)  # first sheet
df.head()

         Date  Product ID  Shop Code  Number Sold  Unit Price
0  1404/01/01           1          3          200       90000
1  1404/01/01           1          3            4      142000
2  1404/01/01           1          3            2      150000
3  1404/01/01           1          3            1      169000
4  1404/01/01           1          3            2      211000